* { box-sizing: border-box; }

.white-key {
  height: 100%;
  background: white;
  border: 1px solid #eee;
  display: inline-block;
  width: calc(100% / 7);
  position: relative;
  float: left;
}

.black-key {
  height: 140px;
  background: black;
  display: inline-block;
  width: 8%;
  overflow: hidden;
  float: left;
  position: relative;
  left: 10.5%;
}


.white-keys {
    position: absolute;
    width: 100%;
    z-index: 0;
    float: left;
    height: 220px;
}

.black-keys {
    width: 100%;
    z-index: 2;
}

.black-key:active {
  background: #333;
}
.white-key:active {
  background: #eee;
}

#Csharp {
}

#Dsharp, #Gsharp, #Asharp  {
    margin-left: 6%;
}

#Fsharp {
    margin-left: 21%;
}

#keyboard {
    position: relative;
    margin: 16px auto;
    width: 80%;
    height: 220px;
    clear: both;
}


div#keyboard {
    /* overflow: visible; */
}

input[name="asdr"], input[name="osc-type"] {
    display: block;
}

section#oscType {
    float: left;
    border: 1px solid #ddd;
}

section#asdr {
    border: 1px solid #ddd;
    display: block;
    float: left;
}

section#synthControls section {
    padding: 8px;
}