* { box-sizing: border-box; }
 
.white-key {
  height: 100%;
  background: white;
  border: 1px solid #ddd;
  display: inline-block;
  width: calc(100% / 7);
  position: relative;
  float: left;
}

.black-key {
  height: 140px;
  background: black;
  display: inline-block;
  width: 8%;
  overflow: hidden;
  float: left;
  position: relative;
  left: 10.5%;
}


.white-keys {
    position: absolute;
    width: 100%;
    z-index: 0;
    float: left;
    height: 220px;
}

.black-keys {
    width: 100%;
    z-index: 2;
}

.black-key:active {
  background: #333;
}
.white-key:active {
  background: #eee;
}

#Csharp {
}

#Dsharp, #Gsharp, #Asharp  {
    margin-left: 6%;
}

#Fsharp {
    margin-left: 21%;
}

#keyboard {
    position: relative;
    margin: 16px auto;
    width: 535px;
    height: 220px;
}


section#oscType label {
  display: block;
}

section#oscType input[name="osc-type"] {
  margin-right: 8px;
  margin-bottom: 21px;
}

section#asdr {
    border: 1px solid #ddd;
    display: block;
}

input[orient="vertical"] {
    -webkit-appearance: slider-vertical;
    -moz-appearance: slider-vertical;
    appearance: slider-vertical;
    height: 100px;
    width: 40px;
}

section#synthControls {
  margin: 0 auto;
  height: 160px;
  display: block;
  position: relative;
  width: 535px;
}

section#synthControls section {
    padding: 8px;
    padding-bottom: 8px;
}


#asdr .form-group {
    display: inline-block;
}

section#synthControls label:not(#oscType)  {
    display: block;
    position: relative;
}


section#synthControls section {
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: none;
    margin: 0;
    position: relative;
    display: inline-block;
    float: left;
}

section#synthControls section:first-child {
    border-left: 1px solid #ccc;
}


.form-group {
    position: relative;
}
