* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans;
}

body {
  background-color: #efefef;
}

.white-key {
  height: 100%;
  background: white;
  border: 1px solid #ccc;
  display: inline-block;
  width: calc(100% / 7);
  position: relative;
  float: left;
}

.black-key {
  height: 140px;
  background: black;
  display: inline-block;
  width: 8%;
  overflow: hidden;
  float: left;
  position: relative;
  left: 10.5%;
}


.white-keys {
    position: absolute;
    width: 100%;
    z-index: 0;
    float: left;
    height: 220px;
}

.black-keys {
    width: 100%;
    z-index: 2;
}

.black-key:active {
  background: #333;
}
.white-key:active {
  background: #eee;
}

#Csharp {
}

#Dsharp, #Gsharp, #Asharp  {
    margin-left: 6%;
}

#Fsharp {
    margin-left: 21%;
}

#keyboard {
    position: relative;
    margin: 16px auto;
    width: 529px;
    height: 220px;
}

section#oscType input[name="osc-type"] {
  margin-right: 8px;
  margin-bottom: 21px;
}

section#asdr {
    border: 1px solid #ddd;
    display: block;
}

section#synthControls {
  margin: 0 auto;
  height: 200px;
  display: block;
  position: relative;
  width: 533px;
}

section#synthControls section {
    padding: 8px;
    padding-bottom: 8px;
}


#asdr .form-group {
    display: inline-block;
}

section#synthControls section:not(#oscType) .form-group  {
    text-align: center;
}

section#synthControls section {
    height: 100%;
    padding: 7px;
    border: 2px solid #ccc;
    border-left: none;
    margin: 0;
    position: relative;
    display: inline-block;
    float: left;
    background: #ddd;
    color: white;
}

section#synthControls section:first-child {
    border-left: 2px solid #ccc;
}

input[type=range]{
  -webkit-appearance: slider-vertical;
  width: 56px;
  display: block;
  margin-bottom: 8px;
}

.form-group {
    position: relative;
}
.form-group label {
    color: #555;
    /* text-shadow: 1px 1px 2px rgba(0,0,0,0.2); */
}
#synthControls section label div.form-group {
    text-align: center;
}
